{
	"env": {
		"browser": true,
		"node": true
	},
	"extends": "airbnb-base",
	"rules": {
		"comma-dangle": "off",
		"curly": [
			"error",
			"all"
		],
		"indent": [
			"error",
			"tab"
		],
		"linebreak-style": "off",
		"no-tabs": "off",
		"object-shorthand": [
			"error",
			"methods"
		]
	}
}
